.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
designer-host/**
Front_page_design.png
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
